section(class="Layout")    	
	section(class="Layout-angonist") 
		each card in [1,2,3,4,5]
			include ../card/template.jade
	section(class="Layout-main")
		div(class="Layout-status")
			each name in ["Jaun", "oscar"]
				include ../status/template.jade

		div(class="Layout-battle")
			include ../battle/template.jade
		div(class="Layout-phases")
			- text = "OMG ese ataque esuna mamada me quitaste muchos puntos"
			include ../phases/template.jade
	section(class="Layout-player")
		each card in [1,2,3,4,5]
			include ../card/template.jade
