.signin-container
	label Ingresa tu nombre
	input.Signin-name-input(type="text", id="firstName", name="firstName", placeholder="oscar, david, etc", tabindex=1)
	button.Signin-button(tabindex=2) Comenzar