.chat 
	margin 0
	padding 0
	box-sizing border-box
	font 1px Helvetica, Arial
	
	form 
		background #000
		padding 3px 
		position absolute
		bottom 0
		width 100%
		
		input 
			border 0
			padding 10px 
			margin-right .5%
			
		button 
			background rgb(130,224,155)
			border 0 
			padding 10px
			position absolute
			
	#messages
		list-style-type none
		margin 0 
		padding 0
		
		li 
			padding 5px 10px 
			background #fff
			
		li:nth-chil(odd)
			background #eee