.Card
	background #C2AC37
	border 5px solid black
	box-shadow 0 0 10px rgba(black,.7)
	border-radius .5em
	padding .5em
	width 170px

	&-description
		background white
		font-size 12px
		padding 0.5em
		margin-bottom .5em
		border 2px solid black
	&-name 
		color white 
		text-transform uppercase
		margin 0 0 .5em 0
		font-size 1em
	&-image
		width 100%
	&-attack 
		background black
		color white
		font-size .7em